body {
  background-image: url(/static/image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  position: absolute;
  margin: none;
  /* transform: translate(-50%, -50%); */
  top: 0;
  left: 8%;
  height: 370px;
  width: 84%;

  background-color: black;
  border-radius: 20px;
  border: none;

  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  z-index: -10;
}

.title-and-logo {
  display: flex;
  justify-content: center;
  width: 50%;
}

/* .header::after {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  right: 51%;
  background-color: rgb(198, 198, 198);
  z-index: -1;
  transform: skew(360deg);
} */

.web-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.logo {
  width: 80px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.homepage-background {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-right-radius: 20px;

  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: gray;

  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
}

.home-background {
  flex-shrink: 1;
  display: block;
  object-fit: cover;
  object-position: left 50%;
  height: 100%;
}



.user-results {
  display: flex;
  position: absolute;
  top: 65%;
  height: 200px;
  width: 100%;
  justify-content: space-around;
  gap: px;
  align-items: center;
  animation: slideInLeft 0.7s ease-in 1 normal none;
}

.calories-counter-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100px;
  width: 400px;

  background-color: rgba(0, 0, 0, 0.621);
  border-radius: 40px;
  border: 0 solid red;

  box-shadow: 0px 0px 20px rgb(206, 60, 60);

  color: white;
  font-weight: bold;
  font-size: 22px;
}

.calories-counter-logo {
  width: 90px;
}

.distance-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100px;
  width: 400px;

  background-color: rgba(0, 0, 0, 0.621);
  border-radius: 40px;
  border: 0 solid red;

  box-shadow: 0px 0px 20px rgb(206, 60, 60);

  color: white;
  font-weight: bold;
  font-size: 22px;
}

.distance-box {
  width: 90px;
}

.average-speed-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100px;
  width: 400px;

  background-color: rgba(0, 0, 0, 0.621);
  border-radius: 40px;
  border: 0 solid red;

  box-shadow: 0px 0px 20px rgb(206, 60, 60);

  color: white;
  font-weight: bold;
  font-size: 22px;
}

.average-speed-logo {
  width: 80px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-900px);
  }

  to {
    transform: translateX(0);
  }
}
