{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <div class="header">

    <div class="title-and-logo">
      <img class="logo" src="/static/image/logo-transparent.png">
      <p class="web-title">
        CALORUN
      </p>
    </div>

    <div class="homepage-background">
      <img class="home-background" src="/static/image/marathon-background.webp">
    </div>

  </div>
  
  <div class="user-results">
    <div class="distance-box">
      <img class="distance-box-logo" src="/static/image/road.png">
      <p>
        Distance Ran:
      </p>
      <p>
        100km
      </p>
    </div>
  
    <div class="calories-counter-box">
      <img class="calories-counter-logo" src="/static/image/calories.png">
      <p>
        Calories Consumed:
      </p>
      <p>
        100km
      </p>
    </div>
  </div>
  
{% endblock content %}