{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <div class="header">

    <div class="title-and-logo">
      <img class="logo" src="/static/image/logo-transparent.png">
      <p class="web-title">
        CALORUN
      </p>
    </div>

    <div class="homepage-background">
      <img class="home-background" src="/static/image/marathon-background.webp">
    </div>

  </div>
  
  <div class="user-results">
    <div class="distance-box">
      <img class="distance-box-logo" src="/static/image/road.png">
      <p>
        Distance Ran:
      </p>
      {% if results %}
      <p> {{ results.total_distance }} km </p>
      {% else %}
      <p> 0 km </p>
      {% endif %}
    </div>
  
    <div class="calories-counter-box">
      <img class="calories-counter-logo" src="/static/image/calories.png">
      <p>
        Calories Consumed:
      </p>
      {% if results %}
      <p> {{ results.total_calories }} cal </p>
      {% else %}
      <p> 0 calo </p>
      {% endif %}
    </div>

    <div class="average-speed-box">
      <img class="average-speed-logo" src="/static/image/running.svg">
      <p>
        Average speed:
      </p>
      {% if results %}
      <p> {{ results.average_speed }} km/h </p>
      {% else %}
      <p> 0 km/h </p>
      {% endif %}
    </div>

    <div class="average-speed-box">
      <img class="time-logo" src="/static/image/time.svg">
      <p>
        Time: 
      </p>
      {% if results %}
      <p> {{ results.total_time }} </p>
      {% else %}
      <p> 0 h 0 m 0 s </p>
      {% endif %}
    </div>
  </div>
  
{% endblock content %}